:root {
  --white: #FAFAFA;
  --black: #1F1F1F;
  --orange: #E59400;
  --primary-blue: #0C5BC9;
  --secondary-blue: #0F78E8;
}

body {
  font-family: 'Inter', sans-serif !important;
}

#navbar-global {
  background-color: var(--white) !important;
}

#navbar-global > form {
  margin-bottom: 0;
}

.btn-primary {
  background: var(--primary-blue);
  border-color: var(--secondary-blue);
  color: var(--white);
  font-size: 1.3rem;
}

#navbarNavAltMarkup > .navbar-nav > .nav-item {
  color: var(--black);
  font-size: 1.3rem;
}

#navbarNavAltMarkup > .navbar-nav > .active {
  font-weight: bold;
}

.jumbotron {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#jumbotron-buttons {
  gap: 1rem;
}

#jumbotron-buttons a {
  min-width: 200px;
}

.btn-secondary {
  background: var(--orange);
  border: var(--orange);
  font-weight: bold;
}

.default-section-template {
  padding: 2rem;
}

.default-section-template h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.color-primary {
  color: var(--primary-blue);
}

.margin-top-10 {
  margin-top: 10px;
}

.beneficios-button {
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.noticia-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
}

.noticia-item-content a {
  color: var(--secondary-blue);
  font-size: 2rem;
  font-weight: bold;
}

.margin-1-rem {
  margin-left: 1rem;
}

@media (max-width: 1024px) {
  #jumbotron-buttons {
    flex-direction: column;
  }
  #jumbotron-buttons a {
    min-width: 100%;
  }

  .noticia-item {
    flex-direction: column;
  }

  .default-section-template {
    padding: 1rem;
  }
}
