:root {
  --white: #FAFAFA;
  --black: #1F1F1F;
  --orange: #E59400;
  --primary-blue: #0C5BC9;
  --secondary-blue: #0F78E8;
}

*, body {
  font-family: 'Inter', sans-serif !important;
}

body {
  background-color: var(--white) !important;
}

#text-aling-item {
  align-items: center !important;
}

#navbar-global {
  background-color: var(--white) !important;
}

#navbar-global > form {
  margin-bottom: 0;
}

.btn-primary {
  background: var(--primary-blue);
  border-color: var(--secondary-blue);
  color: var(--white);
  font-size: 1.3rem;
}

#navbarNavAltMarkup > .navbar-nav > .nav-item {
  color: var(--black);
  font-size: 1.3rem;
}

#navbarNavAltMarkup > .navbar-nav > .active {
  font-weight: bold;
}

.jumbotron {
  background-image: url(assets/18.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#jumbotron-buttons {
  gap: 1rem;
}

#jumbotron-buttons a {
  min-width: 200px;
}

.btn-secondary {
  background: var(--orange);
  border: var(--orange);
  font-weight: bold;
}

.default-section-template {
  padding: 2rem;
}

.default-section-template h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
}

.color-primary {
  color: var(--primary-blue);
}

.margin-top-10 {
  margin-top: 10px;
}

.beneficios-button {
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.noticia-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
}

.button-whatsapp {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  z-index: 500;
}

.button-whatsapp img {
  width: 5rem;
}

.noticia-item-content a {
  color: var(--secondary-blue);
  font-size: 2rem;
  font-weight: bold;
}

#h1-bem-vindo {
  color: black;
  font-weight: bolder;
  font-size: 4.5rem;
}

.lead {
  color: black;
  font-weight: bolder;
}

.btn-lg {
  padding: 15px 25px 15px;
}

.fixed-top {
  position: fixed;
  top: 7%;
  right: 0;
  left: 0%;
  z-index: 1030;
}

.text-button {
  font-size: 2rem;
}

.btn > h1 {
  white-space: normal; /* Permite que o texto quebre */
  word-wrap: break-word; /* Força o texto a quebrar entre as palavras */
  font-size: 2.1rem;
}

#img-sobre {
  width: 100%;
}

#imgHomemTrabalhando {
  width: 60% !important;
}

#duvidas form {
  display: flex;
  flex-direction: column;
}

#duvidas form > button {
  align-self: center;
  font-size: 1.8rem;
  padding: .7rem 2rem;
}

label {
  font-weight: bolder;
  font-size: 2rem;
}

#footer {
  background: var(--primary-blue);
  color: var(--white);
  padding: 4.688rem 12.313rem;
  width: 100vw;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.slogan-footer {
  max-width: 14.5rem;
  font-size: 1.5rem;
  align-self: center;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.footer-links h1 {
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
}

.footer-links a, .footer-links p {
  color: var(--white);
  font-size: 1.3rem;
}


.copy {
  margin-top: 3rem;
  font-size: 1.5rem;
}

@media (max-width: 1024px) {
  #jumbotron-buttons {
    flex-direction: column;
  }
  #jumbotron-buttons a {
    min-width: 100%;
  }

  .noticia-item {
    flex-direction: column;
  }

  .default-section-template {
    padding: 1rem;
  }

  #footer {
    padding: 1rem 0;
    text-align: center;
    gap: 1rem;
  }

  .footer-content {
    flex-direction: column;
  }
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.featurette-heading {
  letter-spacing: -.05rem;
}

/* rtl:end:remove */

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }

  .imgJumbotron {
    width: 100% !important;
  }

  #imgHomemTrabalhando {
    width: 60% !important;
  }

  .default-section-template h1 {
    font-size: 3rem;
  }

  .map {
    height: 132vh !important;
}

}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }

  .imgJumbotron {
    width: 100% !important;
  }

  .map {
    height: 132vh !important;
}

.flex-map {
  display: flex;
  width: 100vh;
  flex: 1;
  flex-wrap: wrap;
}

.item2 {
  margin: 0px !important;
}
  
}

/* lista da cards Pricipais beneficios  */

.background-button {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#button01 {
  background-image: url(assets/educacaoParaIdosos.png);

}


#button02 {
  background-image: url(assets/saudeParaIdosos.png);

}

#button03 {
  background-image: url(assets/IsencaoImpostoRenda.png);

}

#button04 {
  background-image: url(assets/beneficioPrestacaoContinuada.png);

}

#button05 {
  background-image: url(assets/insecaoIPTU.png);

}

#button06 {
  background-image: url(assets/atendimentoPreferecial.png);

}

#jumbotronPassagem {
  background-image: url(assets/backgroundPassagem.png) !important;
}

#jumbotronWhite {
  background: white;
}

.imgJumbotron {
  width: 300px;
  border-radius: 10px;
}


main {
  text-align: center;
  height: 100vh;
}

main > h2 {
  margin-top: 50px;
  margin-bottom: 50px;
}

#container-map {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: flex-start;
}

#cep {
  width: 30%;
}

#map {
  width: 50%;
}


#main div:nth-of-type(2) {
  flex-basis: 100%;
}
.container-map {
  margin: 0 auto;
}
.flex-map {
  display: block;
}

.h1-map {
  width: 100%;
  text-align: center;
  margin: 50px 0px 50px;
}
.item1 {
  width: 99%;
  margin: 5px;
}
.item2 {
  width: 100%;
  margin: 8px;
}






